.app-container {
  width: 100vw;
  height: 100vh;
  background-color: #faedcd;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 0.25rem 0;
  gap: 2rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.625rem;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  background-color: #f3d88b;
  color: #111;
}
